body {
  font-family: "Mitr", sans-serif;
  padding: 10px;
}
.bar {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 10px;
}
.percent {
  text-align: left;
  padding: 10px;
  color: white;
}

.jd {
  width: 60%;
  background-color: #ff858d;
}
.dw {
  width: 90%;
  background-color: #6bbaec;
}
.bp {
  width: 50%;
  background-color: #89daff;
}
.rc {
  width: 80%;
  background-color: #8f95d3;
}
.tc {
  width: 75%;
  background-color: #ff9fe5;
}
