.bg {
  font-family: "Mitr", sans-serif;
  overflow: auto;
  display: none;
}
.navbar {
  background-color: #eaf2f3;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
}
.intro {
  background-color: #eaf2f3;
  height: 100vh;
}
#intro-name {
  font-size: 70px;
  margin-top: 20%;
  color: #00d1b2;
}
#intro-des {
  font-size: 20px;
  color: #363636;
}
.whatis {
  background-color: #54e5b3;
  padding: 5%;
  height: 100vh;
}
#mean-head {
  font-size: 35px;
  padding-top: 7%;
  color: #f5f5f5;
}
#mean-des {
  font-size: 22px;
  padding-top: 2%;
  color: #f5f5f5;
}
#vdo {
  padding-top: 2%;
}
.howto {
  background-color: #15cdca;
  padding: 5%;
  height: 100vh;
  color: #f5f5f5;
}
.info {
  background-color: #4f80e2;
  padding: 5%;
  height: 200vh;
  color: #f5f5f5;
}
.ex {
  background-color: #3e54d3;
  padding: 5%;
  height: 100vh;
  color: #f5f5f5;
  text-align: center;
}
.card-text {
  font-size: 20px;
  color: #363636;
}
.end {
  background-color: #eaf2f3;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #363636;
}
.footer {
  background-color: #eaf2f3;
}
#me {
  padding-top: 1%;
  font-size: 15px;
  color: #363636;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00d1b2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#scroll {
  position: fixed;
  right: 50px;
  bottom: 70px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 10px;
  z-index: 9999;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #f3f3f3;
}
#scroll:hover {
  background-color: #15cdca;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
